@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');

@font-face {
  font-family: 'Aesthetic';
  src: url('../../public/assets/fonts/Aesthetic-Regular-d026.woff2');
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.tr {
  @apply duration-300 ease-out;
}
